
.logo{
    mix-blend-mode: darken;
    height: 70px;
    padding: 0px;
margin-right: 15px;
margin-left: -2.5vw;
}

.navbrand1{
    color:#4d2600;
    font-size: 30px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   position: relative;
   top: 7px;


}
.navbrand2{
    position: relative;
   top: 7px;

    color: darkorange;
    font-size: 28px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#basic-nav-dropdown{
    color:#4d2600;
    font-size: 22px;
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#basic-nav-dropdown:hover{
    padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid #000;
  color: #000;
  border-radius: 35%;
}

.nav-menu{
    color: #4d2600;
    font-size: 22px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 305px;
   
}


.nav-menu:hover{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid #000;
  color: #000;
  border-radius: 35%;
  

}
.navsub{
    color:#4d2600;
    font-size: 22px;
    margin-left: 25px;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navsub:hover{
    padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid #000;
  color: #000;
  border-radius: 35%;
}


.hth{
    position: relative;
    left: 65px;
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
    color:darkorange;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hth:hover{
    color: darkred;
}
@media (min-width: 320px) and (max-width: 480px) {
    /* Logo */
    .logo {
        height: 20vw;
        margin-left: 7vw;
        margin-right: 5vw;
    }

    /* Navbar Brand 1 */
    .navbrand1 {
        font-size: 7vw;
    
     
    }

    /* Navbar Brand 2 */
    .navbrand2 {
        font-size: 7vw;
     
     
    }
    .navbar-toggler
    {
       right: 2vw;
       
    }
    /* Dropdown */
    #basic-nav-dropdown {
        font-size: 6vw;
        margin-left: 62vw;
        
       
    }

    /* Navbar Menu */
    .nav-menu {
        font-size: 6vw;
        margin-left: 62vw;
       

    }

    /* Navbar Sub */
    .navsub {
        font-size: 6vw;
        margin-left: 62vw;
    }

    /* Header Links */
    .hth {
        font-size: 5vw;
        position:absolute; /* Fix the button to the screen */
        top: 20vw; /* Distance from the bottom */
        left: 50%; /* Center the button horizontally */
        transform: translateX(-50%);
        }
    
    /* Adjust padding for dropdown hover */
    #basic-nav-dropdown:hover,
    .nav-menu:hover,
    .navsub:hover {
       margin-left: 180px;
    }
}


@media (min-width: 481px) and (max-width: 992px) {
    /* Logo */
    .logo {
        height: 15vw;
        margin-left: 7vw;
        margin-right: 5vw;
    }

    /* Navbar Brand 1 */
    .navbrand1 {
        font-size: 6vw;
    
     
    }

    /* Navbar Brand 2 */
    .navbrand2 {
        font-size: 6vw;
     
     
    }
    .navbar-toggler
    {
       right: 2vw;
       
    }
    /* Dropdown */
    #basic-nav-dropdown {
        font-size: 4.5vw;
        margin-left: 60vw;
        
       
    }

    /* Navbar Menu */
    .nav-menu {
        font-size: 4.5vw;
        margin-left: 60vw;
       

    }

    /* Navbar Sub */
    .navsub {
        font-size: 4.5vw;
        margin-left: 60vw;
    }

    /* Header Links */
    .hth {
        font-size: 5vw;
        position:absolute; /* Fix the button to the screen */
        top: 15vw; /* Distance from the bottom */
        left: 50%; /* Center the button horizontally */
        transform: translateX(-50%);
        }
    
    /* Adjust padding for dropdown hover */
    #basic-nav-dropdown:hover,
    .nav-menu:hover,
    .navsub:hover {
       margin-left: 180px;
    }
}


